#genel{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-align:center;
}
#resim{
   // -webkit-box-shadow: rgb(200,200,200) 10px 10px 10px;
    -webkit-box-shadow: rgba(100,100,100,0.7) 10px 10px 10px;
}
#yazı{
    font:bold 25px Calibri;
    text-shadow: rgb(100,100,100) 5px 5px 5px;
}