#ana_kısım {width:1000px;margin:15px auto; border: 2px solid red;}
#ana_baslik {border-bottom: 1px dashed red;background-color:blue;padding:20px;color:white;}
#ana_menu {background-color:lightblue;padding:3px;}
#ana_menu li {display:inline-block; list-style:none;font: bold 20px Calibri; color:white; padding-left:20px;}
