tr#ilk_satir {background-color:yellow;text-align:center;font-weight:bold;}

tr[value] {color:white;background-color:blue;}

tr[value="ALM"] {background-color:red;}

tr[value^="AV"] {font-style:italic;}

tr[value$="R"] {color:black;}

tr[value*="A"] {text-decoration:underline;}
